@import "../../assets/styles/modules/mixins.module.scss";
@import "../../assets/styles/modules/variables.module.scss";

.panel {
    position: absolute;
    width: 250px;
    background-color: $textColor;
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: transform 0.7s ease;
    height: 100%;

    &.closed {
        transform: translateX(-100%);
    }       
    
    h1 {
        font-size: 16px;
    }

    & img {
        width: 100px;
        height: 100px;
    }

    &__back {
        position: absolute;
        bottom: 10px;
        left: 70px;

        &, .navigation p {
            color: white;
    
            &:hover {
                color: $headingColor;
            }
        }
    }

    .links {
        
        ul {
            list-style: none;
            padding: 0;
        }
    }

    a {
        text-decoration: none;
        color: $sidebarColor; 
    }

    &__burger {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 20px;
        left: 289px;

        & span {
            display: block;
            width: 25px;
            height: 4px;
            margin: 3px auto;
            background-color: #fff;
            border-radius: 2px;
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 40px;
            height: 41px;
            background-color: $textColor;
            border-radius: 0 7px 7px 0;
        }
    }
}

@media (max-width: 600px) {
    .panel {
        position: fixed;
        width: 54px;

        h1 {
            display: none;
        }

        &__burger {
            left: 90px;
        }

        &__back {
            left: 18px;
            background-color: $headingColor;
            border-radius: 9px;
            width: 60px;
            bottom: 35px;
            &:hover {
                background-color: white;
                color: $headingColor;
            }
        }

        img {
            width: 54px;
            height: 54px;
        }

        .links span, p {
            display: none;
        }
    }
}
