.photoBox {
    color: #eee;
    h1 {
        font-size: 45px;
        font-weight: 700;
    }
    h3 {
        font-size: 25px;
    }
    p {
        font-size: 14px;
    }
    .avatar {
        .logo {
            border-radius: 50%;
            object-fit: cover;
            border-color: white;
            border: 1px solid white;
        }
    }
}
.big {
    img {
        width: 163px;
        height: 163px;
    }
}
@media (max-width: 600px) {
    .photoBox {
        .avatar {
            padding: 0 0 45px;
        }
    }
}