@import "../../assets/styles/modules/variables.module.scss";
@import "../../assets/styles/modules/mixins.module.scss";

@keyframes slideInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes shrinkOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes growIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.portfolio {
    @include shifted-box();

    h1 {
        @include heading();
    }

    &__links {
        display: flex;
        gap: 5px;
        cursor: pointer;

        & p:nth-child(odd):hover {
            color: $headingColor;
        }        
    }

    &__items {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

        .all, .ui, .code {
            background-size: cover;
            border: 1px solid #DDDDDD; 
            padding: 95px; 
            border-radius: 3px;
            position: relative; 
            overflow: hidden;

            &:hover .info { 
                display: block; 
                animation: slideInFromBottom 0.3s ease-out;
            } 
        }

        .all, .ui {
            background: url("../../assets/images/card_1.png");
            background-size: cover;
        }
        .code {
            background: url("../../assets/images/card_2.png");
            background-size: cover;
        }

        .info {
            display: none;
            position: absolute;
            bottom: 0; 
            left: 0;
            right: 0;
            top: 0; 
            background-color: rgba(255, 255, 255, 0.95);
            z-index: 10;
            padding: 3% 0 10px 15px;
            box-sizing: border-box; 
            border-radius: 3px;
        }
    }        

    @media (max-width: 600px) {
        &__items {
            grid-template-columns: 1fr 1fr;
        }
        .info {
            font-size: 15px;
        }
    }
}

.grow-in {
    opacity: 0;
    transform: scale(0);
}
.grow-in-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.shrink-out {
    opacity: 1;
    transform: scale(1);
}
.shrink-out-active {
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}