@import "../../assets/styles/modules/mixins.module.scss";
@import "../Box/Box.module.scss";

.adress {
    @extend .box;
    
    h1 {
        @include heading();
    }

    h6 {
        @include text();
        cursor: auto;
    }

    &Shifted {
        @extend .boxShifted;
    }

    &__content {

        a {
            text-decoration: none;
            color: $textColor;
    
            &:hover {
                text-decoration: underline;
            }
        }

        .icons-color {
            color: $headingColor; 
        }
    }
}

@media (max-width: 600px) {
}