@import "modules/variables.module.scss";

.box {
    margin: 0 30px 0 350px;
    transition: margin-left 0.7s ease;

    &Shifted {
    margin: 0 30px 0 60px;
    }

    h1 {
        color: $headingColor;
    }
    p {
        font-size: 14px;
        color: $textColor;
    }

}

