@import "modules/variables.module.scss";
@import "Box.module.scss";

.expertise {
    @extend .box;
    
    h1 {
        color: $headingColor;
    }
    h3, p {
        color: $textColor
    }
    h3, h4 {
        margin: 10px 0;
        font-size: 16px;
    }
    p {
        margin: 0
    }

    &Shifted {
        @extend .boxShifted;
    }

    .expertise__content {
        display: grid;
        grid-template-columns: 10% 90%;
        gap: 23px;
    }

    .expertise__item {
        display: contents; 
    }

    .expertise__date {
        grid-column: 1; 
        color: #667081;
    }

    .expertise__info {
        grid-column: 2; 
    }
}
