@import "modules/variables.module.scss";
@import "Box.module.scss";

.timeline {
    position: relative;
    @extend .box;
    
    h1 {
        color: $headingColor;
    }

    &Shifted {
        @extend .boxShifted;
    }

    &__event {
        position: relative;
        margin: 40px 0;
        width: 100%;
        display: flex;

        &-date {
            position: relative;
            width: 100px;
            font-size: 14px;
            font-weight: bold;
            color: $textColor;
            text-align: center;

            &::after {
                content: "";
                position: absolute;
                top: 24px;
                left: 47%;
                width: 4px;
                height: 105px;
                background: $headingColor;
            }
        }

        &-content {
            position: relative;
            padding: 15px 0px 25px 20px;
            background: #EEEEEE;
            border-radius: 4px;
            flex: 1;

            &::before {
                content: '';
                position: absolute;
                left: -20px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 20px 10px 0;
                border-color: transparent #EEEEEE;
            }

            h3 {
                font-size: 16px;
                margin: 5px 0;
            }

            p {
                font-size: 14px;
                color: $textColor;
                margin: 0;
            }
        }
    }
}
